body{
    margin: 0;
    padding: 0;
}

:root{
    --font-family:"Montserrat", sans-serif;
}

.head{
    background-color: white;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 122px;
    width: 100%;
}

.nav__list_item{
    display: flex;
    align-items: center!important;
}

.furniture{
    /* background-color: yellow; */
    height: 41px;
    width: 167px;
    float: left;
}

.furniture p{
    color: #054c73;
    font-family: var(--font-family);
    font-size: 34px;
    font-weight: 700;
    float: left;
    line-height: 41.45px;
}

.nav{
    /* background-color: green;  */
    padding-top: 15px;
    box-sizing: border-box;
    float: left;
}

/* .panell{
    width: 562px;
    height: 40px;
    background-color: green; 
    padding-top: 15px;
    box-sizing: border-box;
    float: left;
} */

.panell ul {
    padding: 0px;
}

.panell ul li {
    float: left;
    list-style-type: none;
}

.panell ul li a{
    width: 45px;
    height: 17px;
    margin-right: 70px;
    font-weight: 560;
    padding: 0px;
    /* background: yellow; */
    text-decoration: none;
    color: #333333;
    font-family: var(--font-family);
    transition: 0.5s;
}

.panell ul li a:hover{
    color: #276dc3;
}

.displayflex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ph img{
    width: 100%;
    height: 749px;
}

.disc{
    width: 643px;
    height: 330px;
    top: 210px;
    left: 707px;
    border-radius: 10px;
    /* border: solid 1px #66b4f9; */
    background: #DFE9F4;  
    position: absolute;
    padding: 39px;
    box-sizing: border-box;
}

.newarrival{
    width: 126px;
    height: 20px;
}

.newarrival p{
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    letter-spacing: 3px;
    text-align: left;
    color: #333333;
}

.collect{
    width: 450px;
    height: 127px;
    margin-top: 20px;
}

.collect p{
    font-family: var(--font-family);
    font-size: 52px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
    color:#054C73;
}

.lorem{
    width: 546px;
    height: 78px;
    margin-top: 18px ;
}

.lorem p{
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 420;
    line-height: 39px;
    text-align: left;
    color: #333333;
}


.foot{
    width: 100%;
    height: 150px;
    background-color: #f2f5ff;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconn{
    width: 83px;
    height: 55px;
    float: left;
    background-color: #f2f5ff;
    text-align: right;
    margin-right: 22px;
    margin-top: 5px;
    background-position: center;
    background-size: contain;
}

.information{
    width: 338px;
    height: 58px;
    background-color: #f2f5ff;
}

.information span{
    color: #333333;
    font-size: 15px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    margin-bottom: 2px;
}

.information p{
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
    color: #333333;
}

.inscollect{
    width: 100%;
    height: 742px;
    padding: 58px 0px;
    box-sizing: border-box;
}

.words{
    width: 100%;
    height: 90px;
    /* background-color: #276dc3; */
    margin-bottom: 50px;
}

.word{
    width: 100%;
    height: 39px;
    margin-bottom: 20px;
    /* background-color: aqua; */
}

.word p{
    font-family: var(--font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 39.01px;
    text-align: center;
    color: #333333;
}

.loremips{
    width: 100%;
    height: 30px;
    /* background-color: brown; */
}

.loremips p{
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 300;
    line-height: 24.38px;
    text-align: center;
    color: #666666;
}

.photo_3{
    width: 100%;
    height: 472px;
    padding: 0px 27px;
    box-sizing: border-box;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: space-between;
}

.idk{
    width: 355px;
    height: 472px;
    padding-top: 38px;
    box-sizing: border-box;
    /* background: #054C73; */
}

.images{
    width: 355px;
    height: 434px;
}

.center1{
    width: 100%;
    height: 874px;
    background-color: #f2f5ff;
}

.d{
    padding: 58px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.inside{
    width: 520px;
    height: 758px;
    float: left;
    /* background-color: antiquewhite; */
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}

.beauty{
    width: 100%;
    height: 180px;
    /* background-color: brown; */
}

.loremipsum{
    width: 100%;
    height: 124px;
}

.loremipsum p{
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 300;
    line-height: 39px;
    text-align: left;
    color: #666666;
}

.circle{
    width: 372px;
    height: 372px;
    border-radius: 50%;
    background: #09513B;
}

.women{
    width: 488px;
    height: 754px;
    /* background-color: #054c73; */
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    z-index: 1;
    overflow: hidden;
}

.center2{
    width: 100%;
    height: 800px;
    padding: 58px 0px;
    box-sizing: border-box;
}

.image{
    width: 381px;
    height: 480px;
    margin-bottom: 32px;
}

.ph0t0{
    width: 100%;
    height: 544px;
    /* background-color: #276dc3; */
    display: flex;
    justify-content: space-between;
}

.wrdandpht{
    width: 381px;
    height: 544px;
    /* background-color: red; */
}

.w381{
    width: 381px;
    height: 30px;
    /* background-color: #666666; */
}

.fon{
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 550;
    line-height: 29.26px;
    text-align: center;
    color: #333333;
}

.howitworks{
    width: 100%;
    height: 935px;
    padding: 58px 0px;
    box-sizing: border-box;
}

.allin{
    width: 100%;
    height: 570px;
    /* background-color: #276dc3; */
    display: flex;
    justify-content: space-between;
}

.show{
    width: 381px;
    height: 570px;
    /* background-color: aqua; */
    position: relative;
}

.circle1{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 355px;
    left: 145px;
}

.circle2{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #111111;
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: center;
    color: #FFFFFF;
}

.idiom{
    width: 100%;
    height: 29px;
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 650;
    line-height: 29.26px;
    color: #333333;
    margin-bottom: 8px;
}

.lorm{
    width: 100%;
    height: 54px;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    color: #666666;
}

.footer{
    width: 100%;
    height: 386px;
    background-color: #03344f;
    padding-top: 58px;
    box-sizing: border-box;
}

.one{
    width: 100%;
    height: 250px;
    /* background-color: #666666; */
}

.beauty1{
    width: 201px;
    height: 29px;
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-align: left;
    color: #FFFFFF;
}

.random{
    width: 108%;
    height: 97px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    text-align: left;
    color: #FFFFFF;
    margin: 37px 0px 25px 0px; 
}

.hmm{
    width: 100%;
    height: 250px;
    /* background-color: black; */
    margin-left: 12px;
}

.inst a{  
    width: 201px;
    height: 29px;
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
    text-decoration-line: none;
    transition: 0.5s;
}

.inst a:hover{
    text-decoration: none;
    color: #bdbebf;
}

.photography{
    width: 175px;
    height: 185px;
    border-radius: 2px;
}

.hrhr{
    width: 100%;
    height: 185px;
    margin-top: 25px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    /* Гамбургер иконка */
    /* .menu-btn {
        width: 30px;
        height: 30px;
        position: relative;
        z-index:2;
        overflow: hidden;
    }
    
    .menu-btn .bar {
        width: 30px;
        height: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 4px;
        transform: translate(-50%, -50%);
        background-color: blue;
        transition: all 0.3s ease-in-out;
    }
    
    .menu-btn .bar:nth-of-type(2) {
        top: calc(50% - 9px);
    }
    .menu-btn .bar:nth-of-type(3) {
        top: calc(50% + 9px);
    }
     */
    /* Меняем гамбургер иконку, когда меню открыто */
    /* .menu-btn.active .bar:nth-of-type(1) {
      display: none;
    }
    .menu-btn.active .bar:nth-of-type(2) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(45deg);  
    }
    .menu-btn.active .bar:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(-45deg); 
    } */
    
    /* Меню, которое будет появляться */
    /* .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #FFEFBA;
        transform: translateX(100%);
        transition: transform 0.5s; 
    }
    
    .nav.active {
        transform: translateX(0);
    }
    
    .nav .nav__list_item {
        list-style-type: none;
    }
     */
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .furniture{
        width: 140px;
    }

    .furniture p{
        font-size: 28px;
    }

    .panell ul li a{
        margin-right: 50px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}